.imageSize{
    height: 200px;
    width: 300px;
}
.backgroundColor{

    background: #0E0A2A;
    background-size: cover;
}
.team-body{
    margin: 50px 30px;

}
.team-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FC4D57;
    padding: 15px;
    border-radius: 20px;
}
.team-icon-detail{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;

}
.team-icon-detail img{
    width: 12px;
    height: 12px;
}
.team-icon-detail p{
    color: white;
    padding: 0px 5px ;
}
.paragrah-container p{
    color: white;
    margin-top: 50px;
}
.socail-icon{
    text-align: center;
    margin: 30px;
    
}
.socail-icon img{
    height: 50px;
    width: 50px;
    margin: 10px 5px;
    
}